f<div class="page-header">
  	<div class="row">
	  <div class="col-xs-6 col-md-4">
		<button {{action 'createNew'}}>New Post</button>
	  </div>
	</div>
</div>


<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th> Title    </th>
        <th> Category </th>
        <th> When </th>
      </tr>

    </thead>
    <tbody>

		{{#each post in model}}
		    <tr>
				<td>  
				   <a {{action 'view' post}}> {{post.title}}  </a>  
				</td>
				<td> 
				   {{post.details}}   
				</td>
				<td> 
				   {{post.created_at}} 
				</td>
		    </tr>	
		{{/each}}
	</tbody>

</table>


	